<% provide(:title, "About") %>
<link href="https://fonts.googleapis.com/css?family=League+Script|Open+Sans:400,700" rel="stylesheet">
<h1 style="font-family: 'League Script', cursive; font-weight: bolder; font-size: 60px;"">About our SDT and our Chapter</h1>
<p>

<h1 style="font-size: 20px;">The <b>Delta Theta</b> chapter of Sigma Delta Tau was founded on <b>February 11th, 2007</b> at <b>Pace University</b>.</h1>
The sisters of the Delta Theta chapter come from different backgrounds, and literally from all over the world.
We each bring a unique story with us that comes from having our own interests and experiences. No matter how different we may be, we are able to come together as sisters to encourage, empower, and support one another in a way that is only found by joining such a diverse sisterhood. Our chapter truly embodies the city we get to call home.
<hr>

The mission of Sigma Delta Tau is to enrich the college experience of women of similar ideals, to build lasting friendships, and to foster personal growth. Sigma Delta Tau shall encourage each member to reach her fullest potential by providing intellectual, philanthropic, leadership and social opportunities within a framework of mutual respect and high ethical standards.
<br><br>
To achieve these goals, we will:
<uL>
	<li> Strive for excellence by providing the best possible service to each chapter and each member.</li>
	<li> Join as partners with colleges and universities in the pursuit of academic success for our members.</li>
	<li> Perpetuate our values and traditions while adapting to meet the challenges of the future.</li>
	<li> Promote lifetime commitment and active involvement as Sigma Delta Tau alumnae.</li>
</uL><br><h1>Our Symbols:</h1>
<h1 style="font-size: 30px;">
<b>Flower</b>: Golden Tea Rose
<br>
<b>Jewel</b>: Lapis Lazuli
<br>
<b>Badge</b>: Jeweled Torch
<br>
<b>Colors</b>: Café Au Lait and Old Blue
<br>
<b>Motto</b>: Patriae Multae Spes Una
</h1>

</p>