<% provide(:title, 'Contact') %>
<link href="https://fonts.googleapis.com/css?family=League+Script|Open+Sans:400,700" rel="stylesheet">
<h1 style="font-family: 'League Script', cursive; font-weight: bolder; font-size: 60px;"">Contact</h1>
<p>
  You can find the sisters of Sigma Delta Tau Delta Theta chapter on these various social media accounts!
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>