<% provide(:title, 'All users') %>
<link href="https://fonts.googleapis.com/css?family=League+Script|Open+Sans:400,700" rel="stylesheet">
<h1 style="font-family: 'League Script', cursive; font-weight: bolder; font-size: 60px;"">List of Sisters</h1>
<p><center>Only sisters with registered accounts will be listed here.</center></p>
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>